{% extends "base.html" %}

{% load static %}

{% block content1 %}
<div class="row my-5">
  <div class="col-4 d-flex justify-content-center align-items-center">
    <img src="{% static 'images/mantu.jpg.png' %}" alt="Image" class="about_image">
  </div>
  <div class="col-7 text-left text-light">
    <h2>Hello !</h2>
    <p class="fs-5">
      I bring a diverse background encompassing roles such as a full stack python coder,curriculum associate,engineering
      student and Alongside, I possess experience in the networking sector.
    </p>
    <p class="fs-5">
      As a full stack python coder, I am dedicated to helping others learn python DRF while continuously improving my
      own programming skills.have a stong foundation in python and a deep understanding of its concepts,syntax,and best practices.
    </p>
  </div>
</div>


<div class="row my-2">
  <h2 class="text-center " style="color: #4fffb0;">My Tech stack</h2>
  <div class="d-flex justify-content-around align-items-center">
     <img 
        src="{%static 'images/html.png'%}"
        alt="html logo"
        height="70" 
        width="70" 
        class="img-fluid"
      />

      <img 
        src="{%static 'images/css.png'%}"
        alt="html logo"
        height="70" 
        width="70" 
        class="img-fluid"
      />

      <img 
        src="{%static 'images/js.png'%}"
        alt="html logo"
        height="70" 
        width="70" 
        class="img-fluid"
      />

      <img 
        src="{%static 'images/django.png'%}"
        alt="html logo"
        height="70" 
        width="70" 
        class="img-fluid"
      /> 

      <img 
        src="{%static 'images/react.png'%}"
        alt="html logo"
        height="70" 
        width="70" 
        class="img-fluid"
      /> 
  </div>
</div>


{% endblock content1 %}